<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <p style="background-color: aqua;">HIII</p>
    </div>
    <div class="container-fluid">
    <div class="container">






        <div class="row">
            col-1 & <col-3></col-3>
        </div>
         </div>
        <p style="background-color: aqua;">HIII</p>
    </div>
    <h1 class="text-center">Bootstrap Tutorial</h1>
    <!-- #region -->
</body>
</html>